name: "Run SAST Scan on Overwatch Fan Page"

on:
  push:
    branches:
      - main
  
jobs:
  sonarqube_sast_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        with:
         
          projectBaseDir: Page
        env:
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      

  build_push_docker:
      name: Build & Push Docker Image
      needs: sonarqube_sast_scan
      runs-on: ubuntu-latest
      
      steps:
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

        - name: Build and Push Docker Image
          uses: docker/build-push-action@v5
          with:
            context: ./Page
            file: ./Page/Dockerfile
            push: true
            tags: |
              juandau2880/overwatchfanpage:latest
              juandau2880/overwatchfanpage:v${{ github.run_number }}